#Introduction to Spark SQL

*Initiate Spark Context - ONLY first time for each notebook. If you get problems with below, see [Help](/notebooks/spark_course/1-Course-Information-and-Links/If-you-get-problems-initiating-spark-context.ipynb)*

In [1]:
import os
from pyspark import SparkContext
sc = SparkContext(appName="search", master=os.environ['MASTER'])

In [2]:
from pyspark.sql import SQLContext, Row
sqlCtx = SQLContext(sc)

This is a toy problem, just to show the functionality.
Persons we're "analysing" are:

Michael, 29

Andy, 30

Justin, 19

Can we find the teenager?

In [3]:
# Load a text file and convert each line to a dictionary
peopleFile = "/uuData/people.txt"
lines = sc.textFile(peopleFile)
parts = lines.map(lambda l: l.split(","))
people = parts.map(lambda p: Row(name=p[0], age=int(p[1])))

In [4]:
# Infer the schema, and register the SchemaRDD as a table.
# In future versions of PySpark we would like to add support
# for registering RDDs with other datatypes as tables
peopleTable = sqlCtx.inferSchema(people)
peopleTable.registerAsTable("people")

In [5]:
# SQL can be run over SchemaRDDs that have been registered as a table
teenagers = sqlCtx.sql("SELECT name FROM people WHERE age >= 13 AND age <= 19")

In [6]:
teenNames = teenagers.map(lambda p: "Name: " + p.name)
teenNames.collect()

[u'Name: Justin']

Material based on AMPCamp and Databricks training material provided online under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International (CC BY-NC-ND 4.0) license.